.about {
    align-items: center;
    height: 100vh;
}

.about-background {
    background-size: cover;
    border-radius: 20px;
    position: absolute;
    height: 80vh;
    width: 80vw;
}

.about-card {
    border-radius: 20px;
    position: absolute;
    color: white;
    background-color: rgb(29, 29, 29);
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vw;
}

.about-title {
    font-size: 2.5rem;
}

.about-text {
    font-size: 2rem;
    padding: 10px;
    color: white;
    width: 90%;
    display: flex;
}


@media screen and (max-width: 700px) {
    .about-title {
        font-size: 1.5rem;
    }

    .about-text {
        font-size: 1.2rem;
    }
}
