/* Image Container */
.image-container {
    margin: 10px 30%;
  }
  
  .image-container img {
    width: 100%;
    margin-top: 5px;
  }
  
  /* Media Query: Large Smartphone */
  @media screen and (max-width: 800px) {
    .image-container {
      margin: 10px; 
    }
  }

  .more-photos-title {
    color: white;
    font-size: 2rem;
  }
