* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#home {
    background-image: url("src/IMG_0964.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60% 80%;
    transition: background-image 2s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.my-name {
    color: white;
    padding: 2rem;
    font-size: 2.5rem;
    cursor: default;
}

span {
    padding: 0;
    margin: 0;
}

.nav-sections {
    padding: 2rem;
    display: flex;
    margin: 0;
    flex-direction: row;
    justify-content: center;
    flex-direction: row;
}

.links {
    padding: 2rem;
    flex-direction: row;
}

.txt-button {
    padding: 0 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

.fab {
    padding: 0 1rem;
    font-size: 2rem;
    color: white;
}

section {
    color: white;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23ffffff' fill-opacity='0.07' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* animation for 3d scale */
@keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        -ms-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        -ms-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        -ms-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        -ms-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        -ms-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.blast {
    opacity: 1;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.blast:hover {
    color: rgb(170, 0, 79);
}

/* Portfolio */
.container {
    display: flex;
    width: 80vw;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    height: 80vh;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}

#portfolio {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* About me */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-container {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 80%;
}

.about-img {
    border-radius: 10px;
    width: 50%;
    box-shadow: 2px 2px 7px rgba(255, 255, 255, 0.3);
}

.about-filler {
    font-size: 2rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* more photos */
#more-photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

.container-more-photos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 90%;
}

.container-more-photos img {
    object-fit: cover;
    margin: 10px;
    height: 180px;
    width: 180px;
    max-width: 100%;
    cursor: pointer;
}

.container-more-photos img:hover {
    scale: 1.1;
    /* border: 3px solid rgb(0, 153, 255); */
    transition: scale 0.4s ease;
}
